.table {
  margin: 16px 0;
  width: 100%;
  text-align: left;  
  border-spacing: 0;
  border: 1px solid #ddd;
  border-bottom: 0;
}

.table th,
.table td {
  padding: 4px;
  border-bottom: 1px solid #ddd;
}

.table tr th {
  background-color: #f2f2f2;
}